body{
    
    font-family: 'Roboto', sans-serif;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(207, 214, 231) 90%);
    background-repeat: no-repeat;
}
.container{
/* .container{ */
    height: 90%;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 1px 32px 12px rgba(179, 179, 179, 0.1);
    margin-top: 20%;
}
/* **************** */
/* leftside box */
#weather-box-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    padding-left: 2%;
    
}
/* search bar */
#search-form{
    cursor: pointer;
    position: relative;
    
}
#topTitle{
    display: none;
}
#data-clear-input{
    position: absolute;
    top:50px;
    right:90px;
    cursor: pointer; 
    display: none;
}
#search-bar {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.328);
    font-size: 12px;
    padding: 8px 18px;
    box-shadow: 1px 1px 10px 5px rgba(211, 211, 211, 0.213);
    margin-top: 16%;
}
#searchBtn-icon{
    border: 0;
    outline: none;
    background-color: transparent;
}
#search-icon {
    color: #48484A;
}

/* city info */
#current-location{
    padding-top: 10%;
}
#current-city{
    font-weight: bold;
    font-size: 2vw;
    padding: 5% 0px 0px 5%;
    color: #48484A;
}
#current-country{
    padding-left: 10px;
}
.fa-solid{
    color: rgb(147, 147, 147);
}
.temp {
    font-size: 1vw;
    position: relative;
    top:16px;
    left: 5px;
}
#temp-list{
    padding-left: 18%;
    padding-top: 10%;
    
}
.temp-unit{
    color: rgb(147, 147, 147);
    text-decoration: none;
    cursor: pointer; 
}
.temp-unit:hover{
    text-decoration: underline;
}
#temp-list .active{
    font-weight: 500;
    color: #EC6E4C;
    cursor: default;
}
#temp-list .active:hover{
    text-decoration: none;
}
#main-temp{
    font-size: 3.2vw;
    color: #48484A;
    margin-left: 10%;
}
#weather-box-left-img{
    width: 50%;
    margin: 0px auto;
    padding-top: 8%;
    image-resolution: 300dpi;
}
.leftSideIcon{
    color: #48484A;
    font-size: 1vw;
    color: #EC6E4C;
}
#weather-box-left-date{
    padding-left: 8%;
    font-size: 0.8vw;
    color: #48484A;
}
#left-side-line{
    margin-top: 25%;
    opacity: 0.1;
}
.weather-detail-img {

    border-radius: 10px;
    margin-top: 18%;
    position: relative;
}
#insertCityName{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2vw;
    font-weight: bold;
    text-shadow: 2px 4px 4px rgba(39, 39, 39, 0.6);
}

#imgForecastLink {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#displayImgGalery {
    width: 100%;
    height: 15vh;
    object-position: 0% 35%;
    object-fit: cover
}
#weather-box-left-detail{
    margin-left: 10%;
    padding: 10px 0px 0px 8%;
    font-size: 0.8vw;
    color: #48484A;
}
#weather-box-left-detail li{
    padding-top: 15px;
}
#weather-description{
    display: inline-block;
    padding-top: 10px;
    font-size: 30px;
}
#weather-description::first-letter{
    text-transform: capitalize;
}
/* **************** */
/* rightside box */
#weather-box-right{
    height: 100vh;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(232, 237, 248) 90%);
    
}
#weather-box-right-top{
    width: 80%;
    padding:0px;
    width: 90%;
    margin-top: 2.8%;
}
.right-top-small-title{
    font-size: 12px;
    margin-bottom: 0em;
}
#brand-logo-name{
    font-size: 20px;
    font-weight: 500;
    font-style: italic;
    color: #48484A;
    margin-bottom: 0em;
}
#getCurrentLocation{
    cursor: pointer;
}
/* switch Btn */
.switch-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.switch-wrapper .moon,
.switch-wrapper .sun {
    width: 1.5vw;
    height: 4vh;
}
.switch-wrapper .sun {
    background: url(../src/img/sun.png) no-repeat center;
    background-size: 100%
}
.switch-wrapper .moon {
    background: url(../src/img/moon.png) no-repeat center;
    background-size: 100%
}
.switch-wrapper .toggle-wrapper {
    margin: 5px
}
/* hide check box */
.switch-wrapper .toggle-wrapper #switch {
    height: 0;
    width: 0;
    visibility: hidden;
    position: absolute
}
.switch-wrapper .toggle-wrapper #switch:checked+label {
    background: #EC6E4C;
}
.switch-wrapper .toggle-wrapper #switch:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%)
}
.switch-wrapper .toggle-wrapper label {
    cursor: pointer;
    text-indent: -9999px;
    width: 45px;
    height: 25px;
    background: #cad0e1;
    display: block;
    border-radius: 100px;
    position: relative
}
.switch-wrapper .toggle-wrapper label:after {
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 19px;
    height: 19px;
    background: #fff;
    border-radius: 100%
}
.inputLocation{
    font-weight: 400;
    color: #EC6E4C;
}
/* 7 days forecast */
#weather-forecast{
    text-align: center;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(8, 12%);
    justify-content: center;
    align-items: center;
}
.forecast-seven-day{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
    margin: 0px 3%;
}
.forecast-seven-day div img{
    width: 3vw;
}
.forecast-day{
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:start;
}
.forecast-day p{
    font-size: 15px;
    color:#48484A;
}
#weather-forecast-temp{
    margin-top: 15px;
}
#weather-temp-max,
#weather-temp-min{
    font-size: 12px;
}
/* weather detail */
#weather-detail{
    font-size: 18px;
    font-weight: 400;
    color: #48484A;
    font-style: italic;
}

.weather-detail-list{
    margin: 0px;
    display: flex;
    align-items: start;
    justify-content: center;
}
#secondList{
    margin-bottom: 3%;
}
.weather-detail-list li{
    width: 30.5%;
    height: 95%;
    font-size: 13px;
    
}
.weather-detail-list li p{
    padding-left: 3%;
}
.forecast-detail{
    color: rgb(147, 147, 147);
    padding-top: 8%;
}
.humidityIcon{
    font-size: 30px;
    font-weight: 400;
}
.sunriseIcon{
    position: relative;
    top: 3px;
}
.sunsetIcon{
    rotate: 180deg;
    position: relative;
    top: 5px;
}
.detail{
    font-size: 42px;
    font-weight: 300;
    color:#48484A;
}
.material-symbols-outlined{
    position: relative;
    top: 5px;
}
.sunrise-set-time,
#max-temp,
#min-temp{
    font-size: 30px;
    font-weight: 300;
    color:#48484A;
}
#minTempUnit{
    rotate: 180deg;
}
.timeUnit{
    color:#48484A;
    font-size: 13px;
}
#button-sign{
    font-family: Courier;
    font-size: 12px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5%;
}
#button-sign a{
    text-decoration: none;
    color: rgb(147, 147, 147);
    transition: all 300ms ease-in-out;
}
#button-sign a:hover{
    color: black;
    text-decoration: underline;
}
/* **************** */
/* dark mode */
body.night {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #e1e1e1
}
body.night .switch-wrapper .sun {
    background: url(../src/img/sun-white.png) no-repeat center;
    background-size: 100%
}
body.night .switch-wrapper .moon {
    background: url(../src/img/moon-white.png) no-repeat center;
    background-size: 100%
}
body.night .container,
body.night #weather-box-right {
    box-shadow: 1px 1px 32px 12px rgba(15, 12, 49, 0.079);
    background-image: linear-gradient(40deg, rgb(32, 38, 57), rgb(63, 76, 119));
}
body.night .container #weather-box-left #search-form input,
body.night .container #weather-box-left #current-location #current-city,
body.night #search-icon,
body.night #main-temp,
body.night #weather-box-left-detail,
body.night #weather-box-left-date,
body.night #brand-logo-name,
body.night #getCurrentLocation,
body.night .cnBtn,
body.night #weather-forecast .forecast-day p,
body.night #weather-detail,
body.night .container #weather-box-right .weather-detail-list .forecast-day p,
body.night .container #weather-box-right .weather-detail-list .forecast-day p span,
body.night #left-side-line {
    color: rgb(252, 252, 252);
}
body.night .container #weather-box-left #search-form input,
body.night #weather-forecast .forecast-seven-day,
body.night .container #weather-box-right .weather-detail-list .forecast-day {
    background: rgba(92, 103, 160, 0.132);
    box-shadow: 1px 1px 10px 5px rgba(18, 24, 45, 0.074);
}

/* **************** */
/* Responsive */
@media only screen and (max-width: 1400px) {
    /* left side container */
    #search-form{
        margin-top: 3%;
    }
    #data-clear-input {
        top: 36px;
        right: 65px;
    }
    .temp {
        font-size: 1vw;
        position: relative;
        top: 9px;
        left: 5px;
    }
    #weather-box-left-detail {
        padding: 5px 0px 0px 8%;
        font-size: 1vw;
        color: #48484A;
    }
    #weather-box-right-top {
        margin-top: 4%;
        width: 85%;
    }
}

@media only screen and (max-width: 1200px) {
    #weather-box-left {
        margin-top: 10%;
    }
    #search-form {
        padding-top: 10%;
    }
    #current-location {
        padding-top: 35%;
    }
    #weather-box-left-img {
        width: 70%;
        padding-top: 18%;
    }
    .temp {
        font-size: 1.4vw;
        top: 18px;
    }
    #main-temp {
        font-size: 7vw;
        color: #48484A;
    }
    #temp-list {
        padding-left: 10%;
    }
    #weather-box-left-detail,
    #weather-box-left-date{
        font-size: 1.2vw;
    }
    #weather-box-left-detail{
        padding: 20% 0px 20% 8%;
    }
    #weather-box-left-detail li {
        padding-top: 12%;
    }
    .leftSideIcon {
        font-size: 1.4vw;
        position: relative;
        top: 3px;
    }
    .forecast-day {
        width: 12%;
    }
    .forecast-day {
        width: 12%;
    }
    .switch-wrapper{
        margin-left: 5%;
    }
    #weather-box-right-top {
        margin-top: 4%;
        width: 80%;
    }
}
@media only screen and (max-width: 992px) {
    .container{
        width: 100vw;
    }
    #weather-box-left {
        height: 100%;
        text-align: center;
        padding-left: 0%;
    }
    /* #topTitle{
        display: block;
        font-size: 2.8vw;
        font-weight: 300;
        font-style: italic;
        color: white;
        margin-right: 15%;
    } */
    #search-form {
        cursor: pointer;
        padding-top: 20px;
        /* display: flex;
        justify-content: space-evenly; */
    }
    #data-clear-input {
        top: 48%;
        right: 21%;
    }
    #search-bar {
        padding: 10px 20px;
        width: 50%;
        font-size: 15px;
        margin-top: 0%;
    }
    #weather-box-left-img{
        display: none;
    }
    #current-location {
        padding-top: 10%;
        text-align: center;
    }
    #current-city {
        padding:0%;
        font-size: 5vw;
    }
    #main-temp {
        font-size: 15.2vw;
        color: #48484A;
    }

    #temp-list {
        width: 35%;
        margin: 0px auto;
        padding-left: 0%;
        /* border: 1px solid red; */
        
    }
    .temp {
        font-size: 2.6vw;
        top:20%;
    }
    #weather-box-left-detail,
    #weather-box-left-date{
        font-size: 2.2vw;
    }
    #weather-box-left-detail {
        padding: 20% 0px 0% 0%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }
    #weather-box-left-detail li {
        padding-top: 3%;
        padding-left: 0%;
    }
    .leftSideIcon {
        font-size: 2.4vw;
    }
    .weather-detail-img {
        width: 90%;
        height: 20vh;
        border-radius: 10px;
        margin: 12% auto;
        position: relative;
        padding-left: 0%;
    
    }
    #left-side-line {
        display: none;
    }
    #insertCityName {
    font-size: 5.5vw;
    }
    #displayImgGalery {
       width: 100%;
       height: 20vh;
       object-position: 0% 35%;
       object-fit: cover;
       border-radius: 10px;
   }
    #weather-forecast {
        display: grid;
        grid-template-columns: repeat(4, 24%);
        grid-row: 10px;
        justify-content: center;
        align-items: center;
    }
    #forecast-seven-day-detail{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    #forecast-seven-day-detail p{
        margin-bottom: 0px;
    }
    #weather-detail {
        margin-top: 10%;
        font-size: 18px;
        font-weight: 400;
        color: #48484A;
        font-style: italic;
    }
        .switch-wrapper .moon,
        .switch-wrapper .sun {
            width: 2.4vw;
            height: 4vh;
        }
        
}
@media only screen and (max-width: 768px) {
    .switch-wrapper .moon,
    .switch-wrapper .sun {
        width: 14vw;
        height: 10vh;
    }
}